docs
.idea
.vscode
venv-hmc-tomography/
output*
build
dist
hmc_tomography_*
*.egg-info
*__pycache__
.coverage
*.h5
*.npy
*.npz
examples/notebooks/bin_samples/*
*_movie
docs-source/source/examples
*.ipynb_checkpoints
*.NOGIT
.pytest_cache/