numpy
scipy
termcolor
matplotlib
tqdm
h5py
pyyaml
black
flake8
ipython
sphinx
nbsphinx
sphinx_rtd_theme
numpydoc
pandoc
sphinx-git
versioneer
pandas
pre-commit
codecov
pytest
pytest-harvest
pytest-ordering
pytest_notebook
ipywidgets
nbformat