/* override table width restrictions */

@media screen and (min-width: 767px) {
  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from overriding
          this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }
  .wy-table-responsive {
    overflow: visible !important;
  }
}

.highlight-bash > div {
  box-shadow: 10px 10px 5px grey;
}

.highlight-bash > div > pre {
  background-color: rgb(52, 49, 49);
  color: #ddd;
}

.highlight-bash > div > pre > span.nv {
  color: #ddd;
}
.highlight-bash > div > pre > span.o {
  color: #ddd;
}
.highlight-bash > div > pre > span.m {
  color: #ddd;
}
