# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[testing]
    - name: Python Black Check
      uses: RojerGS/python-black-check@1.0.1
      with:
        # File or directory to run black on.
        path: hmc_tomography # optional, default is .
        # The number of characters allowed per line.
        line-length: 88 # optional, default is 81
    - name: Test with pytest
      run: |
        pip install pytest
        pytest
